# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Entornos virtuales
env/
venv/
.venv/

# Variables de entorno
.env
*.env

# Archivos de base de datos
*.db
*.sqlite

# Archivos generados
*.log

# Configuración del editor
.vscode/
.idea/

# Archivos de sistema
.DS_Store

# Render
render.yaml

